body {
    margin:0px;
}

.column {
    display:flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}

.container {
    display:flex;
    flex-wrap: wrap;
}

.gridbox {
    border: 1px solid black;
    flex-basis:6.10%;
    flex-grow: 1;
}